<aside *ngIf="isSidebarOpen" class="w-64 bg-white border-r border-gray-200 flex flex-col justify-between">
    <div>
        <div class="flex items-center gap-2 px-6 py-5 border-b border-gray-200">
            <img src="https://storage.googleapis.com/a1aa/image/ae517be5-4d4b-4154-c554-d0aab4d268f8.jpg"
                class="w-6 h-6" />
            <span class="font-semibold text-lg select-none">BookStore</span>
        </div>
        <nav class="mt-6 px-4 text-xs text-gray-400 select-none">
            <ng-container *ngFor="let section of sidebarSections">
                <p class="uppercase font-semibold mb-2 mt-6">{{ section.title }}</p>
                <ul class="space-y-1">
                    <li *ngFor="let item of section.items">
                        <a class="flex items-center gap-2 text-gray-700 hover:text-blue-600 px-3 py-2 "
                            [href]="item.link">
                            <i class="{{ item.icon }} text-xs"></i>
                            {{ item.label }}
                        </a>
                    </li>
                </ul>
            </ng-container>
        </nav>
    </div>
    <div class="p-6">
        <div class="bg-white border border-gray-200  p-4 flex flex-col items-center text-center">
            <img src="https://storage.googleapis.com/a1aa/image/ecb943b6-3bd1-4f42-6fd1-5bd58724a71e.jpg"
                class="-full mb-3 w-16 h-16" />
            <p class="font-semibold text-gray-900 text-sm">Hồng Gai</p>
            <p class="text-xs text-gray-500">Checkout pro features</p>
        </div>
    </div>
</aside>