 <div>
      <div class="flex items-center gap-2 px-6 py-5 border-b border-gray-200">
        <img src="assets/images/logo_tatsumaki.png" alt="Tatsumaki Logo" class="w-8 h-8" />
        <span class="font-semibold text-lg select-none">Tatsumaki dashboard</span>
      </div>
      <nav class="mt-6 px-4 text-xs text-gray-400 select-none">
        <ng-container *ngFor="let section of sidebarSections">
          <p class="uppercase font-semibold mb-2 mt-6">{{ section.title }}</p>
          <ul class="space-y-1">
            <li *ngFor="let item of section.items">
              <a
                class="flex items-center gap-2 text-gray-700 hover:text-blue-600 px-3 py-2"
                [href]="item.link"
              >
                <i class="{{ item.icon }} text-xs"></i>
                {{ item.label }}
              </a>
            </li>
          </ul>
        </ng-container>
      </nav>
    </div>